<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pomotasks">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.PomoTasks"
        tools:targetApi="m">
        <activity
            android:name=".Completed"
            android:label="Completed Tasks"/>
        <activity
            android:name=".OnCompleteActivity"
            android:label="Add A Memory"
            android:parentActivityName=".UpdateActivity" />
        <activity
            android:name=".TimerActivity"
            android:label="Pomodoro Timer" />
        <activity
            android:name=".UpdateActivity"
            android:label="Your Task"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddActivity"
            android:label="Add New Task"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Your Tasks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FetchAddressIntentService" />
    </application>

</manifest>